.c-service {
	position: relative;
  display: inline-block;

	&__count {
		position: absolute;
    height: 18px;
    top: -6px;
    min-width: 18px;
    background: #ffd8cc;
    color: #000;
    font-size: 10px;
    left: 14px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;		
	}

  
  svg {
    fill: #7F7873;
  }
  

  &:hover {
    .c-service__dropdown {
      opacity: 1;
      visibility: visible;
      top: 90%;
    }
  }

  &__dropdown {
    position: absolute;
    box-shadow: 0 10px 20px rgba(50,50,50,.1);
    top: 120%;
    opacity: 0;
    visibility: hidden;
    padding: 15px;
    min-width: 350px;
    background-color: #fff;
    border: 1px solid #fbf8f8;
    border-radius: 3px;
    z-index: 50;
    right: -15px;
    transition: .3s;
  }
}