.l-product {

	picture {
		line-height: 0;
  	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
	}

	&__img {
		position: relative;

		.js-lightbox {
			display: block;
		}

		img {
			display: block;
		}

		video {
			max-width: 100%;
			width: 100%!important;
			height: auto;
		}

		.swiper-pagination-bullets.swiper-pagination-horizontal {
			bottom: -25px;

			.swiper-pagination-bullet {
				margin: 0 8px;

				&-active {
					background: #000;
				}
			}
		}
	}

	&__size-chart {
		margin: 20px 0 30px;
    text-decoration: underline;
    cursor: pointer;
	}

	&__sale {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
    width: 65px;
    height: 40px;
		background-color: $red;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 18px;
		line-height: 1.2;
	}

	&__content {
		width: 100%;
		text-align: left;
    position: sticky;
    top: 25px;
    padding-left: 65px;
	}

	&__category {
    display: block;
    margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #2A2424;
	}

	&__name {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #000000;
    font-weight: 300;
    text-transform: inherit;
	}

	&__buy {
		display: flex;
		align-items: center;

		.c-quantity {
			margin-right: 40px;
			margin-bottom: 0;
		}
	}

	&__text {
		margin-top: 50px;
		margin-bottom: 20px;
		font-size: 16px;
		// line-height: 28px;
		font-weight: 400;
		max-width: 500px;

		&-title {
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 20px;
		}

		strong {
			font-weight: 500;
		}
		span {
			margin-bottom: 8px;
	    font-size: 16px;
	    color: black;
	    display: inline-block;
		}
		p {
	    font-weight: 400;
	    margin-bottom: 20px;
	    font-size: 16px;
	    line-height: 1.7;
	    color: $black;

	    &:last-child {
	    	margin-bottom: 0;
	    }
		}
		h3 {
			font-weight: 400;
			margin-bottom: 15px;
		}
	}

	&__info {
		padding-bottom: 40px;
		&-block {
    	margin-bottom: 16px;

    	&.is-active {
    		.l-product__info-title svg {
    			transform: rotate(180deg);
    		}
    	}
		}
		&-title {
	    font-size: 18px;
	    line-height: 140%;
	    padding-bottom: 5px;
	    border-bottom: 1px solid #000;
	    position: relative;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    cursor: pointer;

	    svg {
  	    transition: all 0.15s ease-in-out;
	    }
		}
		&-text {
	    // padding: 10px 0;
			// display: none;
			font-size: 13px;
	    line-height: 20px;

			max-height: 0;
    	overflow: hidden;
    	transition: max-height 0.3s ease-out;

			&.is-open {
				max-height: 500px;
			}

	    b {
	    	font-weight: 600;
	    }
	    p {
	    	margin-bottom: 10px
	    }
		}
	}

	.c-rating {
	  margin-bottom: 20px;
	  display: flex;
	  align-items: center;
	}

	


	.c-price {
    font-size: 30px;
    line-height: 1.2;
    color: #2A2424;
    font-weight: 500;
		margin-bottom: 40px;

		&>span {
	    display: inline-flex;
    	align-items: center;
    	flex-direction: row-reverse;
		}

		del {
			font-weight: 300;
    	margin-left: 20px;
		}
	}

	@include mq('desktop') {
		&__content {
			padding-left: 15px;
		}
		&__category {
			margin-bottom: 15px;
		}

		&__name {
			font-size: 34px;
			margin-bottom: 30px;
		}

		&__text {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.c-price {
			font-size: 20px;
			margin-bottom: 30px;

			del {
				margin-left: 15px;
			}
		}
	}

	@include mq('tablet-medium') {

    &__img {
    	// width: 100%;
    	margin-right: -15px;
    	margin-left: -15px;

    	li {
    		overflow: hidden;
    		width: 100%;
    		max-width: 500px;
    		margin-right: 8px;

    		&:last-child {
		    	padding-right: 0;
					margin-right: 0;
		    }
    	}
    }

    &__content {
    	padding-left: 0;
    	width: 100%;
    	position: relative;
    	top: 0;
    }

    &__text {
    	margin-bottom: 0;
    	margin-top: 0;
    }
	}

	@include mq('tablet') {
		&__sale {
	    font-size: 16px;
			width: 50px;
			height: 30px;
		}
	}

	@include mq('phone-large') {

		&__img {
			margin-bottom: 20px;
			display: block;
			li {

				
  			// max-width: 300px;
				width: 100%;
		    // padding: 0 8px 0 0;
				padding: 0;
				
		    margin-bottom: 0;
				// height: 300px;

		    a {
		    	display: block;
					// height: 100%;
		    }

		    
			}
		}

		&__category {
			// text-align: center;
			font-size: 20px;
		}

		&__name {
	    font-size: 18px;
    	line-height: 1.2;
    	margin-bottom: 10px;
		}

		&__text {
      margin-top: 30px;
	    margin-bottom: 30px;
	    font-size: 16px;
		}

		&__info {
			padding-bottom: 30px;
			&-block {
	    	margin-bottom: 20px;
			}
			&-title {
    		font-size: 14px;
    		padding-bottom: 10px;
			}
		}

		.c-tags {
	    padding: 0 15px;
		}

		.u-btn {
	    width: 100%;
		}

		.c-price {
			margin-bottom: 0;
			font-size: 24px;
			line-height: 31px;
		}
	}
}
