.p-shop {
	// margin-bottom: 200px;
	// margin-top: 30px;
	&__flex {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		// margin-top: 80px;
		// margin-bottom: 100px;
	}
	&__sidebar {
    flex: 0 0 18%;
    max-width: calc(18% - 30px);
    margin-right: 30px;
	}

	&__catalog {
    flex: 0 0 82%;
    max-width: 82%;
	}

	// &-filter-buttons {
	// 	display: none;
	// 	height: 42px;
	// 	font-size: 16px;
	// 	font-weight: 600;
	// 	background-color: #3fbeeb;
	// 	padding: 7px 0;
	// 	margin: 29px -15px 59px;

	// 	button {
	// 		width: 50%;
	// 		text-align: center;
	// 		color: #ffffff;

	// 		&:first-child {
	// 			border-left: 1px solid #fff;
	// 		}
	// 	}
	// }

	@include mq('tablet-wide') {
		&__flex {
			flex-wrap: wrap;
		}

		&__sidebar {
			display: none;
		}

		&__catalog {
			max-width: 100%;
			flex: 0 0 100%;
		}

		.l-sidebar {
			display: none;
		}
	}

	// @include mq('tablet') {
	// 	.l-sidebar,
	// 	.c-filter,
	// 	.c-search {
	// 		display: none;
	// 	}

	// 	&-filter-buttons {
	// 		display: flex;
	// 	}

	// 	&__flex {
	// 		margin-bottom: 400px;
	// 	}
	// }

	// @include mq('phone-large') {
	// 	.c-search {
	// 		display: none;
	// 	}
	// 	.l-hero {
	// 		display: none;
	// 		min-height: auto;
	// 		&__slide {
	// 			min-height: auto;
	// 		}
	// 	}
	// 	&__ordering {
	// 		text-align: center;
 //    	justify-content: center;
	// 	}
	// }
}