.p-single {
  margin-top: 30px;

  h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
  }

  h3 {
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 400;
  }

  h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    margin: 10px 0;
  }
  a {
    text-decoration: underline;
    color: #007fac;
  }

  ul, li {
    list-style: circle;
    list-style-position: inside;
  }
  ul {
    margin-bottom: 15px;
  }
  li {
    margin-bottom: 5px;
  }
}